body {
  font-family: Arial, serif;
  text-align: center;
  margin-top: 50px;
  background-color: green;
  background-repeat: no-repeat;
}
p1{
  color: red;
}

h1, h2 {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}
h2 {
  text-align: left;
}
 
/* button {
  background-color: blue;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
} */
