body {
  font-family: Arial, serif;
  text-align: center;
  margin-top: 50px;
  background-color: green;
  background-repeat: no-repeat;
}
p1{
  color: red;
}

h1, h2 {
  font-family: Arial, Helvetica, sans-serif;
}
h1{
  text-align: center;
  color: purple;
}
h2 {
  text-align: left;
  color: black;
}
 ul{
   list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333333;
 }  
ul li {
  float: left;
}

/* button {
  background-color: blue;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
} */
