body {
  background-color: black;
}
h1{
  color: white;
  padding: 40px;
  border: 40px;
  margin:10px;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}
 h2 {
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  text-align: left;
}
#navbar{
  list-style-type: none;
  margin: 0;
  padding: 10;
  overflow: hidden;
  background-color: brown;  
  justify-content: center;
  color: black;
}
#listNav{
  font-size: 24px;
  border-right: 1px solid rgb(90, 90, 90);
  border-left: 1px solid rgb(90, 90, 90);
}
ul li a{
  display: block;
  color: brown;
  padding: 16px 16px;
  text-decoration: none;
}

#contacts{
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: grey;  
  display:block;
}


.gallery {
  display: block;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.projectsPanel {
  position:relative;
  margin: 5px;
  height: 180px;
  width: full;
  background-color: brown; 
}

.projectsPanel .title{
	color: black;
    font-size:32px;
    padding: 15px;
    width: 50%;
    height:auto;
    border: 3px solid  #777;
}


.projectsPanel img {
  width: 25%;
  position: absolute;
  right:0;
  top:20px;
}

.projectsPanel .desc {
  overflow:auto;
  padding: 15px;
  color:white;
  border: 5px solid white;
  background-color: green;
}


p{
  color:white;
}
.highlight{
  background-color: grey;
  width: 100%;
}
