body {
  font-family: Arial, serif;
  text-align: left;
  background-color: black;
}

h1, h2 {
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  text-align: left;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333333;
}
ul li {
  float: center;
  border-right: 10px solid #bbb
}
ul li:lastChild{
  border: none;
}

ul li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

ul li a:hover {
  background-color: #111111;
}

.projects{
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.projectPanel{
  text-align: left;
  background-color: #333333;
  color: white;
  border: 1px solid grey;
  width: 100%;
}
.projectPanel .header{
   font-family: Arial, Helvetica, sans-serif;
  color: white;
  text-align: left;
}

.projectPanel .desc{
  padding: 15px;
}

.projectPanel img{
  width: auto;
  height: auto;
}
p{
  color:white;
}
.highlight{
  background-color: grey;
  width: 300px;
}
