body {
  font-family: Arial, serif;
  text-align: left;
  background-color: black;
}

h1, h2 ,h3{
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  text-align: left;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333333;
}

ul li {
  float: center;
  border-right: 1px solid #bbb
}
ul li:lastChild{
  border: none;
}

ul li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

ul li a:hover {
  background-color: #111111;
}

.projectPanel{
    text-align: left;
    background-color: #333333;
    color: white;
}