body {
  background-color: black;
}
h1{
  color: white;
  padding: 40px;
  border: 40px;
  margin:10px;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}
 h2 {
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  text-align: left;
}
#navbar{
  list-style-type: none;
  margin: 0;
  padding: 10;
  overflow: hidden;
  background-color: grey;  
  justify-content: center;
  color: black;
}
#listNav{
  font-size: 32px;
  border-right: 1px solid rgb(90, 90, 90);
  border-left: 1px solid rgb(90, 90, 90);
}
ul li a{
  display: block;
  color: black;
  padding: 16px 16px;
  text-decoration: none;
}

ul li a:hover{
  background-color: rgb(255, 255, 255);
  color: black;
}



#contacts{
   list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: grey;  
  display:block;
}

.projects {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.projectsPanel {
  position: relative;
  margin: 5px;
  border: 1px solid #ccc;
  padding: 15px;
  width: auto;
  height: 280px;
  background-color: #788;
}
.projectsPanel .title{
  font-size: 32px;
  color: black;
  padding:15px;
  width:75%;
  height: auto;
  
}

.projectsPanel img{
  width: 25%;
  height: 70%;
  position: absolute;
  right:0;
  top:20px;
  bottom: 10px;
  height: auto;
}
.projectsPanel .desc{
  padding: 15px;
  width: 70%;
  text-align: center;
  color: black;

}

p{
  color:white;
}
.highlight{
  background-color: grey;
  width: 100%;
}
