body {
  background-color: black;
}
h1{
  color: white;
  padding: 40px;
  border: 40px;
  margin:10px;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}
 h2 {
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  text-align: left;
}
#navbar{
  list-style-type: none;
  margin: 0;
  padding: 10;
  overflow: hidden;
  background-color: grey;  
  justify-content: center;
  color: black;
}
#listNav{
  font-size: 24px;
  border-right: 1px solid rgb(90, 90, 90);
  border-left: 1px solid rgb(90, 90, 90);
}
ul li a{
  display: block;
  color: black;
  padding: 16px 16px;
  text-decoration: none;
}

ul li a:hover{
  background-color: rgb(255, 255, 255);
  color: black;
}



#contacts{
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: grey;  
  display:block;
}


.gallery {
  display: block;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.projectsPanel {
  position:relative;
  margin: 5px;
  border: 1px solid #ccc;
  height: 180px;
  width: full;
  background-color: brown; 
}

.projectsPanel .title{
	color: grey;
    font-size:32px;
    padding: 15px;
    width: 75%;
    height:auto;
    border: 1px solid #777;
}

.gallery-item:hover {
  border: 1px solid #777;
}

.projectsPanel img {
  width: 25%;
  position: absolute;
  border: 10px solid #333;
  right:0;
  top:20px;
  height: auto;
}

.projectsPanel .desc {
  padding: 15px;
  border: 5px solid #333;
}


p{
  color:white;
}
.highlight{
  background-color: grey;
  width: 100%;
}
