body {
  font-family: Arial, serif;
  text-align: left;
  background-color: black;
}

h1, h2 {
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  text-align: left;
}
#navbar{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: grey;  
}

ul li a{
  display: flex;
  color: white;
  padding: 14px 16;
  text-decoration: none;
}
a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}
a:link {
  background-color: yellow;
}

a:visited {
  background-color: cyan;
}

a:hover {
  background-color: lightgreen;
}

a:active {
  background-color: hotpink;
} 

a:hover {
  text-decoration: underline;
}

a:active {
  text-decoration: underline;
}

ul li a:hover{
  background-color: rgb(255, 255, 255);
  color: black;
}
#contacts{
   list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: grey;  
}
ul li a{
  display: block;
}

.projects{
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.projectPanel{
  text-align: left;
  background-color: rgb(36, 36, 36);
  color: white;
  width: 100%;
  height: 300px;
  border: 1px solid red;
}
.projectPanel .header{
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  text-align: left;
}

.projectPanel .desc{
  border: 1px solid brown;
  width: 50%;
  height: 100%;
}

.projectPanel img{
  right: 0px;
  width: 25%;
  height: 100%;
  border: 1px solid green;
}

p{
  color:white;
}
.highlight{
  background-color: grey;
  width: 100%;
}
