body {
  font-family: Arial, serif;
  text-align: left;
  background-color: black;
}

h1, h2 {
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  text-align: left;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333333;
}
ul li {
  float: center;
  border-right: 10px solid #bbb
}
ul li:lastChild{
  border: none;
}

ul li a {
  display: block;
  color: purple;
  text-align: center;
  padding: 14px 16px;

  text-decoration: none;
}

ul li a:hover {
  background-color: #111111;
}

.projects{
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.projectPanel{
  text-align: left;
  background-color: #333333;
  color: white;
  width: 100%;
  height: 300px;
  border: 1px solid red;
  position: relative;
}
.projectPanel .header{
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  text-align: left;
  position: absolute;
}

.projectPanel .desc{
  border: 1px solid brown;
  width: 50px;
  height: 100%;
  position: absolute;
}

.projectPanel img{
  right:0px;
  width: 25%;
  height: 100%;
  position: absolute;
}
p{
  color:white;
}
.highlight{
  background-color: grey;
  width: 100%;
}
