body {
  background-color: black;
}
h1{
  color: white;
  padding: 40px;
  border: 40px;
  margin:10px;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}
 h2 {
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  text-align: left;
}
#navbar{
  list-style-type: none;
  margin: 10px;
  padding: 10;
  overflow: hidden;
  background-color: brown;  
  justify-content: center;
  color: black;
}
#listNav{
  font-size: 24px;
  border-right: 1px solid rgb(90, 90, 90);
  border-left: 1px solid rgb(90, 90, 90);
}
ul li a{
  display: block;
  color: brown;
  padding: 16px 16px;
  text-decoration: none;
}

#contacts{
  overflow: hidden;
  background-color: brown;  
  display:block;
}


.project {
  display: block;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.projectsPanel {
  position:relative;
  margin: 5px;
  height: 300px;
  width: full;
  background-color: brown; 
}

.projectsPanel .title{
	color: black;
    font-size:32px;
    width: 50%;
    height:auto;
    border: 10px solid green;

}

.projectsPanel img {
  width: 25%;
  height: 50%;
  position: absolute;
  border: 10px solid green;
  right:5px;
}

.projectsPanel .desc{
  position: absolute;
  border: 10px solid green;
  width: 50%;
  bottom: 10px;
  left: 5px;
  font-family: Arial, Helvetica, sans-serif;
  size: 24px;
}

.highlight{
  background-color: brown;
  width: 100%;
}