body {
  background-color: black;
}
h1{
  color: white;
  padding: 40px;
  border: 40px;
  margin:10px;
  text-align: center;
  font: Arial, Helvetica, sans-serif;
}
 h2 {
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  text-align: left;
}
#navbar{
  list-style-type: none;
  margin: 0;
  padding: 10;
  overflow: hidden;
  background-color: grey;  
  justify-content: center;
  color: black;
}
#listNav{
  font-size: large;
  border-right: 1px solid rgb(90, 90, 90);
  border-left: 1px solid rgb(90, 90, 90);
}
ul li a{
  display: block;
  color: black;
  padding: 16px 16px;
  text-decoration: none;
}

ul li a:hover{
  background-color: rgb(255, 255, 255);
  color: black;
}



#contacts{
   list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: grey;  
  display:block;
}

.projects{
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  border: 2px  solid gold;
}

.projectPanel{
  text-align: left;
  background-color: rgb(36, 36, 36);
  color: white;
  width: 100%;
  height: 100%;
  border: 1px solid red;
}

.projectPanel .title{
  font-family: Arial, Helvetica, sans-serif;
  border: 1 solid lawngreen;
  font-size: large;
  color: white;
  text-align: left;
}

.projectPanel .desc{
  border: 1px solid brown;
  width: 50%;
  height: 100%;
}

.projectPanel img{
  right: 0;
  width: 25%;
  height: 100%;
}

p{
  color:white;
}
.highlight{
  background-color: grey;
  width: 100%;
}
