body {
  font-family: Arial, serif;
  text-align: center;
  margin-top: 50px;
  background-color: green;
}
p1{
  color: red;
}

h1, h2 {
  font-family: Arial, Helvetica, sans-serif;
}

h1{
  text-align: center;
}

h2 {
  text-align: left;
  color: black;
}

ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333333;
}

ul li {
  float: left;
}

ul li a {
  display: block;
  color: white;
  text-align: center;
  padding: 50px 50px;
  text-decoration: none;
  display:flex;
  flex-direction: row;
}

ul li a:hover{
  background-color: #111;
}